# {{ ansible_managed }}

# Filesystem checks
 *  || check_fs_mount_rw /scratch
 *  || check_fs_mount_rw /home
 *  || check_fs_mount_rw /
 *  || check_fs_mount_rw /dev/pts '/(none|devpts)/' devpts
# Process checks
 *  || check_ps_daemon sshd root
# Hardware checks
 *  || check_hw_swap_free 1
 *  || check_hw_mem_free 1
